html {
  font-size: 15px;
}

html, body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  background: #fff;
  font-weight: 500;
  color: #999999;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
}

h1 {
  padding-top: 24px;
  color: rgba(0, 0, 0, 0.8);
}

ul {
  justify-content: center;
  list-style: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

@media (min-width: 550px) {
  body {
    display: flex;
  }
  aside {
    display: block;
  }
}
