html, body {
  height: 100vh;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  background: #fff;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 500;
  color: #999999;
  margin: 0;
}

aside {
  background: rgba(0, 0, 0, 0.04);
  padding: 48px 24px;
}

aside > ul {
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
  flex: 1;
  padding-top: 96px;
}

h1 {
  text-align: center;
  padding-top: 24px;
  color: rgba(0, 0, 0, 0.8);
}

ul {
  justify-content: center;
  list-style: none;
}

img {
  border-radius: 50%;
}

@media (min-width: 550px) {
  body {
    display: flex;
  }
}
