html {
  font-size: 62.5%;
}
body {
  margin: 8px;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  -webkit-user-select: none;
  -moz-user-select: none;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}
header {
  position: relative;
}
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}
ul {
  list-style: outside;
}
a {
  color: inherit;
  text-decoration: none;
}
.right {
  display: inline-block;
  float: right;
}
.employer-name:after, .employer-location:after {
  transition: transform 0.3s ease-in-out;
}
.employer:not(.collapsed) .employer-name:after,
.employer:not(.collapsed) .employer-location:after {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.employer ul {
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}
.employer.collapsed ul {
  height: 0 !important;
}
.container {
  max-width: 860px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.name {
  position: absolute;
  float: left;
  bottom: 0;
  margin-bottom: 0;
}
.contact {
  font-size: 90%;
  text-align: right;
  margin-left: 0;
  margin-bottom: 5px;
  list-style: none;
}
.contact > li {
  margin-bottom: 0;
}
section:not(:last-child), header {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 2.5rem;
}
.employer p, .school {
  position: relative;
}
.employer p *, .school * {
  display: block;
}
@media screen and (max-width: 549px) {
  /*
  .employer-location:after {
    margin-left: 10px;
    margin-bottom: 2px;
    content: "";
    display: inline-block;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid black;
  }
  */
  header {
    font-size: 90%
  }
  ul {
    padding-left: 20px
  }
  .container {
    padding: 0 8px;
  }
}
/* @media screen and (min-width: 550px) {
  .employer-name:after {
    margin-left: 10px;
    margin-bottom: 2px;
    content: "";
    display: inline-block;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid black;
  }
}
*/
@media (min-width: 550px), print {
  .container {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .employer p *:nth-child(even), .school *:nth-child(even) {
    position: absolute;
    right: 0;
  }
  .employer p *:nth-child(2), .school *:nth-child(2) {
    top: 0;
  }
  .employer p *:nth-child(4), .school *:nth-child(4) {
    bottom: 0;
  }
}
@media (min-width: 960px) {
  body {
    background: #f5f5f5;
  }
  .container {
    background: #fff;
    padding: 65px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  }
}
@media print {
  body {
    font-size: 12px;
  }
  .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .employer.collapsed ul {
    display: block;
  }
  @page {
    margin: 2cm;
  }
}
