body {
  font-family: sans-serif;
}
table {
 text-align: center;
 border-collapse: collapse;
}
td {
  height: 54px;
  width: 54px;
  border: 1px solid black;
}
tr:nth-child(odd) > td:nth-child(odd) {
  background: #4CAF50;
}
tr:nth-child(even) > td:nth-child(even) {
  background: #4CAF50;
}
tr > td:first-child, tr:last-child > td  {
  background: none !important;
  border: none !important;
}
img {
  vertical-align: middle;
  height: 45px;
  width: 45px;
}
.selected, .highlighted {
  background: #FFEB3B !important;
}
