body {
  font-family: sans-serif;
}
footer {
  font-size: 75%;
}
table {
  text-align: center;
  border-collapse: collapse;
}
td {
  height: 54px;
  width: 54px;
  border: 1px solid black;
  background: #f0d9b5;
}
tr:nth-child(odd) > td:nth-child(odd) {
  background: #b58863;
}
tr:nth-child(even) > td:nth-child(even) {
  background: #b58863;
}
tr > td:first-child, tr:last-child > td  {
  background: none !important;
  border: none !important;
}
.highlighted {
  background: #FFF495 !important;
}
.piece {
  width: 45px;
  height: 45px;
  display: inline-block;
  vertical-align: middle;
}
.white.king {
  background: url('../img/Chess_Pieces_Sprite.svg') 0 0;
}
.white.queen {
  background: url('../img/Chess_Pieces_Sprite.svg') -45px 0;
}
.white.bishop {
  background: url('../img/Chess_Pieces_Sprite.svg') -90px 0;
}
chess-knight[color='white'] {
  background: url('../img/Chess_Pieces_Sprite.svg') -135px 0;
}
.white.rook {
  background: url('../img/Chess_Pieces_Sprite.svg') 90px 0;
}
chess-pawn[color='white'] {
  background: url('../img/Chess_Pieces_Sprite.svg') 45px 0;
}
.black.king {
  background: url('../img/Chess_Pieces_Sprite.svg') 0 45px;
}
.black.queen {
  background: url('../img/Chess_Pieces_Sprite.svg') -45px 45px;
}
.black.bishop {
  background: url('../img/Chess_Pieces_Sprite.svg') -90px 45px;
}
chess-knight[color='black'] {
  background: url('../img/Chess_Pieces_Sprite.svg') -135px 45px;
}
.black.rook {
  background: url('../img/Chess_Pieces_Sprite.svg') 90px 45px;
}
chess-pawn[color='black'] {
  background: url('../img/Chess_Pieces_Sprite.svg') 45px 45px;
}
